<div class="chord-section-root" [ngClass]="{'editing': editing}">

    <div *ngIf="editing">
      <div class="chord-row">
        <div class="chords-header">Chords</div>
        <div class="chord-input-wrapper" *ngFor="let chord of chordSection.instruction.chords">
          <mat-icon class="chord-close-icon" 
                    color="warn" 
                    matTooltip="Remove Chord" 
                    (click)="removeChord(chord)">
            close
          </mat-icon>
          <input class="chord-name-input"
                 draggable="true"
                 [(ngModel)]="chord.name" 
                 [matAutocomplete]="auto"
                 scAutoWidth minSize="3"
                 (dragstart)="newChordDragStart($event, chord)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of ['A', 'C', 'F']" [value]="option">{{option}}</mat-option>
          </mat-autocomplete>

          <mat-icon draggable="true"
                    class="chord-drag-icon"
                    (dragstart)="newChordDragStart($event, chord)">drag_indicator</mat-icon>
        </div>
        <div>
          <button mat-stroked-button 
                  class="add-chord-button"
                  color="accent" 
                  (click)="addChord()">
            <mat-icon>add</mat-icon> ADD CHORD
          </button>
        </div>
      </div>
    </div>

  <div class="chords-and-lyrics-row" 
       *ngFor="let cal of chordSection.instruction.chordsAndLyrics">

    <div *ngIf="editingLyricLine.get(cal.id)">
      <input class="lyric-input" 
             placeholder="Add Line of Lyrics" 
             [(ngModel)]="cal.lyricLine" 
             (change)="onUpdate()"
             scAutoWidth minSize="40"/>
      <mat-icon class="edit-lyric-done" 
                color="accent" 
                matTooltip="Done editing" 
                (click)="editingLyricLine.set(cal.id, false)">check</mat-icon>
    </div>

    <div *ngIf="!editingLyricLine.get(cal.id)">
      <div class="split-character"
           (dragenter)="setDragOverAttr($event)"
           (dragover)="setDragOverAttr($event)"
           (dragleave)="removeDragOverAttr($event)"
           (drop)="droppedOnCharacter($event, cal, charIndex)"
           *ngFor="let c of getAdjustedLyricLine(cal); let charIndex = index"
           ><div class="inline-chord-placer"
                 *ngFor="let inlineChord of chordsByOffset.get(cal.id)?.get(charIndex)"
                 ><div class="inline-chord"
                       draggable="true" 
                       (dblclick)="removeInlineChord(cal, charIndex, inlineChord)"
                       (dragstart)="existingChordDragStart($event, cal.id, charIndex, inlineChord)"
                       >{{inlineChord?.name}}</div></div>{{c}}</div>

      <mat-icon class="split-character-edit" 
                color="accent" 
                matTooltip="Edit lyric line" 
                (click)="editingLyricLine.set(cal.id, true)">
        edit
      </mat-icon>
      <mat-icon class="split-character-clean" 
                color="primary" 
                matTooltip="Clear chords" 
                (click)="clearChords(cal)">
        layers_clear
      </mat-icon>
      <mat-icon class="split-character-remove" 
                color="warn" 
                matTooltip="Remove lyric line" 
                (click)="removeChordsAndLyrics(cal)">
        close
      </mat-icon>
    </div>
  </div>

  <div *ngIf="editing" class="add-chord-section">
    <button mat-stroked-button 
            class="add-block-button" 
            color="accent" 
            (click)="addChordsAndLyrics()">
      <mat-icon>add</mat-icon> ADD LYRICS & CHORDS
    </button>
  </div>
</div>
