<div class="chord-section-root" [ngClass]="{'editing': editing}">

  <div class="strumming-pattern-wrapper">
    <div class="strumming-pattern"
         *ngIf="chordSection.instruction.strummingPattern">
      <strumming-pattern 
       [strummingPattern]="chordSection.instruction.strummingPattern" 
       [editing]="editing"
       (updated)="onUpdate()"></strumming-pattern>
      <button class="remove-strumming-pattern-button" mat-icon-button (click)="removeStrummingPattern()">
        <mat-icon class="chord-close-icon" 
                  color="warn" 
                  *ngIf="editing"
                  matTooltip="Remove strumming pattern">close</mat-icon>
      </button>
    </div>
    <div *ngIf="editing && !chordSection.instruction.strummingPattern">
      <button mat-button 
              class="add-strumming-pattern-button"
              color="accent" 
              (click)="addStrummingPattern()">
        <mat-icon>add</mat-icon> ADD STRUMMING PATTERN
      </button>
    </div>
  </div>

  <div class="chords-and-lyrics-wrapper">
    <div class="chords-and-lyrics-row" 
         *ngFor="let cal of chordSection.instruction.chordsAndLyrics"
         [ngClass]="{'break-line': cal.breakLine}">

      <div *ngIf="editingLyricLine.get(cal.id)"
         class="editing-lyrics-line">
        <input class="lyric-input" 
               placeholder="Add Line of Lyrics" 
               [(ngModel)]="cal.lyricLine" 
               (change)="onUpdate()"
               scAutoWidth minSize="40"/>
        <div class="editing-lyrics-actions">
          <button mat-icon-button (click)="editingLyricLine.set(cal.id, false)">
            <mat-icon color="accent" 
                      matTooltip="Done editing">check</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="!editingLyricLine.get(cal.id)"
                      class="chords-and-lyrics-line">
        <div class="lyric-line">
          <div class="split-character"
               *ngFor="let c of getAdjustedLyricLine(cal); let charIndex = index"
               [ngClass]="{'padding-character': c === ''}"
               (dragenter)="setDragOverAttr($event)"
               (dragover)="setDragOverAttr($event)"
               (dragleave)="removeDragOverAttr($event)"
               (drop)="droppedOnCharacter($event, cal, charIndex)"
               ><div class="inline-chord-placer"
                     *ngFor="let cil of chordsByOffset.get(cal.id)?.get(charIndex)"
                     ><div class="inline-chord"
                           [attr.draggable]="editing"
                           (dblclick)="removeInlineChord(cal, cil.id)"
                           (dragstart)="existingChordDragStart($event, cal.id, cil.id)"
                           >{{cil?.chord?.name}}</div></div>{{c || '_'}}</div>
        </div>
        <div class="chords-and-lyrics-actions" *ngIf="editing">
          <mat-checkbox color="accent" 
                        [(ngModel)]="cal.breakLine"
                        (change)="onUpdate()">
            Line break
          </mat-checkbox>
          <button mat-icon-button (click)="editingLyricLine.set(cal.id, true)">
            <mat-icon class="split-character-edit" 
                      color="accent" 
                      matTooltip="Edit lyric line">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="clearChords(cal)">
            <mat-icon class="split-character-clean" 
                      color="primary" 
                      matTooltip="Clear all chords from line">layers_clear</mat-icon>
          </button>
          <button mat-icon-button (click)="removeChordsAndLyrics(cal)">
            <mat-icon class="split-character-remove" 
                      color="warn" 
                      matTooltip="Remove lyric line">close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="isAddingBlock">
    <mat-form-field class="lyrics-block-text" appearance="fill">
      <mat-label>Lyrics to add</mat-label>
      <textarea matInput 
                [(ngModel)]="blockAddContent"
                placeholder="Add multiple lines of lyrics"
                cdkTextareaAutosize></textarea>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon color="accent" 
                matTooltip="Add block of lyrics"
                (click)="addBlockOfLyrics()">check</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon color="warn" 
                matTooltip="Cancel adding block"
                (click)="isAddingBlock = false; blockAddContent = ''">close</mat-icon>
    </button>
  </div>

  <div *ngIf="editing" class="add-chord-section">
    <button mat-button 
            class="add-block-button" 
            color="accent" 
            (click)="addChordsAndLyrics()"
            matTooltip="Add line of lyrics and connect with chords">
      <mat-icon>add</mat-icon> ADD LYRICS
    </button>
    <button mat-button 
            class="add-block-button" 
            color="accent" 
            matTooltip="Add multiple lyrics lines together"
            (click)="isAddingBlock = true"
            [disabled]="isAddingBlock">
      <mat-icon>add</mat-icon> ADD BLOCK OF LYRICS
    </button>
    <!--
    <button mat-button 
            class="add-block-button" 
            color="accent" 
            matTooltip="Add line of chords without lyrics">
      <mat-icon>add</mat-icon> ADD CHORDS
    </button>
    -->
  </div>
</div>
