@import '~@angular/material/theming';

@mixin chord-section-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .chord-section-root {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .chord-row {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .chord-input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;

        .chord-close-icon {
          cursor: pointer;
        }

        .chord-name-input {
          background-color: rgba(0, 0, 0, 0.2);
          font-size: 36px;
          border: none;
          text-align: center;
        }

        .chord-drag-icon {
          cursor: grab;
          transform: rotate(90deg);
        }
      }
    }


    .lyric-input {
      font-size: 24px;
      margin-top: 40px;
      background-color: rgba(0, 0, 0, 0.2);
      border: none;
      border-bottom: 1px solid mat-color($primary);
      text-align: center;
    }

    .edit-lyric-done {
      font-size: 24px;
      cursor: pointer;
      margin-left: 10px;
    }

    .inline-chord-placer {
      height: 0;
      position: relative;
      width: 0;

      .inline-chord {
        cursor: grab;
        font-size: 30px;
        position: absolute;
        bottom: calc(100% + 5px);
        left: -50%;
        user-select: none;
      }
    }

    .split-character {
      position: relative;
      white-space: pre;
      float: left;
      font-size: 24px;
      user-select: none;
      padding-top: 40px;

      &[dragging] {
        padding-left: 10px;
        &::before {
          content: ' ';
          position: absolute;
          left: 0;
          bottom: 25px;
          height: 0;
          width: 0;
          border-top: 10px solid green;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
           
        }
      }
    }

    .split-character-remove,
    .split-character-clean,
    .split-character-edit {
      margin-left: 10px;
      margin-top: 40px;
      cursor: pointer;
    }

    .lyric-input {
      border: none;
    }

    .add-block-button {
      margin: 10px;
    }

    // Editing visibility.

    .split-character-remove,
    .split-character-clean,
    .split-character-edit {
      visibility: collapse;
    }

    &.editing {
      .split-character-remove,
      .split-character-clean,
      .split-character-edit {
        visibility: visible;
      }

    }
  }
}
