@import '~@angular/material/theming';

@mixin chord-section-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  $lyric-font-size: 20px;
  $chord-in-lyric-font-size: 24px;
  $font-color: black;

  .chord-section-root {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: $font-color;

    .strumming-pattern {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .chord-row {
      display: flex;
      align-items: center;
      justify-content: center;

      .chord-input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;

        .chord-name-input {
          background-color: rgba(0, 0, 0, 0.2);
          font-size: 30px;
          border: none;
          text-align: center;
        }

        .chord-drag-icon {
          cursor: grab;
          transform: rotate(90deg);
        }
      }
      .add-chord-button {
        margin-left: 20px;
      }
    }

    .chords-and-lyrics-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .chords-and-lyrics-row {
      &.break-line {
        flex-basis: 100%;
      }
    }

    .editing-lyrics-line,
    .chords-and-lyrics-line {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .lyric-input {
      font-size: $lyric-font-size;
      margin-top: 30px;
      height: $lyric-font-size;
      background-color: rgba(0, 0, 0, 0.2);
      border: none;
      border-bottom: 1px solid mat-color($primary);
      text-align: center;
    }

    .inline-chord-placer {
      height: 0;

      position: relative;
      width: 0;
      .inline-chord {
        background-color: mat-color($accent, 100);
        cursor: grab;
        font-size: $chord-in-lyric-font-size;
        position: absolute;
        bottom: calc(100% + 5px);
        left: -50%;
        user-select: none;
        z-index: 1;
      }
    }

    .split-character {
      display: table-cell;
      vertical-align: bottom;
      height: 70px;
      position: relative;
      white-space: pre;
      font-size: $lyric-font-size;
      user-select: none;
      &.padding-character {
        color:transparent;

        & > * {
          color: $font-color;
        }
      }

      &[dragging] {
        padding-left: 10px;
        &::before {
          content: ' ';
          position: absolute;
          left: 0;
          bottom: 25px;
          height: 0;
          width: 0;
          border-top: 10px solid green;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
        }
      }
    }

    .lyric-input {
      border: none;
    }

    .lyrics-block-text {
      font-size: 18px;
      min-width: 600px;
      min-height: $lyric-font-size;
    }

    .add-block-button {
      margin: 10px;
    }
  }
}
