// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@import '~@angular/material/theming';
@import 'app/components/auth/auth.component.scss';
@import 'app/components/chordsection/chordsection.component.scss';
@import 'app/components/editsong/editsong.component.scss';
@import 'app/components/error/error.component.scss';
@import 'app/components/home/home.component.scss';
@import 'app/components/newsong/newsong.component.scss';
@import 'app/components/song/song.component.scss';
@import 'app/components/tabsection/tabsection.component.scss';

// Be sure that you only ever include this mixin once!
@include mat-core();

$primary: mat-palette($mat-cyan);
$accent: mat-palette($mat-lime, 600);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include auth-component-theme($theme);
@include chord-section-component-theme($theme);
@include edit-song-component-theme($theme);
@include sc-error-component-theme($theme);
@include home-component-theme($theme);
@include new-song-component-theme($theme);
@include song-component-theme($theme);
@include tab-section-component-theme($theme);

// Global styles below.
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  color: #333333;
  background-color: #eeeeee;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}
td, th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: inherit;
  text-align:inherit;
  margin: 0;
  padding: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app-body {
  display: flex;
  flex-grow: 1;
}

router-outlet + * {
  display: flex;
  height: 100%;
  width: 100%;
}

