
.editsong-root {
  width: 100%;
  .loading {
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
}

.basic-info,
.section-info {
  padding: 20px;
}

.song-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;


  .add-song-section-button {
    font-size: 24px;

  }
}


