<div class="song-root">
  <div class="loading" *ngIf="state === states.LOADING"><mat-spinner color="accent"></mat-spinner></div>
  <div *ngIf="state === states.SONG_NOT_FOUND">TODO: Not Found Component</div>
  <div *ngIf="state === states.RUNNING">
    <div class="basic-info">
      <h1>{{(song$ | async)?.info?.title}}</h1>
    </div>

    <div class="section-info">
      <div class="song-sections">
        <div class="section" *ngFor="let section of (song$ | async)?.sections">
          <h2>{{section.info.name}}</h2>
          <container-element [ngSwitch]="section.sectionType">
            <tab-section 
             *ngSwitchCase="sectionTypeEnum.TAB_SECTION" 
             [editing]="false" 
             [tabSection]="section.tabSection"
             ></tab-section>
            <div *ngSwitchCase="sectionTypeEnum.CHORD_SECTION">Chords!!!</div>
            <div *ngSwitchDefault>Unidentified type</div>
          </container-element>
        </div>
      </div>
      <div>
      </div>



    </div>
</div>
