@import '~@angular/material/theming';

@mixin song-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .song-root {
    width: 100%;
    .loading {
      height: 100%;
      display: flex;
      align-items: center; 
      justify-content: center;
    }

    .error {
      height: 100%;
      display: flex;
      align-items: center; 
      justify-content: center;
    }

    .basic-info,
    .section-info {
      padding: 10px;
    }

    .basic-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
