<div class="song-root">
  <div class="loading" *ngIf="state === states.LOADING"><mat-spinner color="accent"></mat-spinner></div>
  <div class="error" *ngIf="state === states.ERROR"><sc-error [errorType]="error"></sc-error></div>
  <div *ngIf="state === states.RUNNING">
    <div class="basic-info">
      <h1 class="song-title">{{(song$ | async)?.info?.title}}</h1>
      <button mat-icon-button 
              class="edit-song-button" 
              color="accent" 
              [routerLink]="['/editSong', (song$ | async).id]"><mat-icon>edit</mat-icon></button>
    </div>

    <div class="section-info">
      <div class="song-sections">
        <div class="section" *ngFor="let section of (song$ | async)?.sections">
          <h2>{{section.info.name}}</h2>
          <div [ngSwitch]="section.sectionType">
            <tab-section 
             *ngSwitchCase="sectionTypeEnum.TAB_SECTION" 
             [editing]="false" 
             [tabSection]="section.tabSection"
             ></tab-section>
            <div *ngSwitchCase="sectionTypeEnum.CHORD_SECTION">Chords!!!</div>
            <div *ngSwitchDefault>Unidentified type</div>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
</div>
