<div class="tab-section-root">
  <div class="pick-block" *ngFor="let block of tabSection.instruction.tabBlocks">
    <table class="pick-block-table">
      <tr *ngIf="editing">
        <td class="remove-pick-cell">
          <button mat-button class="remove-block-button" color="warn" (click)="removeBlock(block)">
            <mat-icon class="remove-block-button">close</mat-icon>
          </button>
        </td>
        <td class="remove-pick-cell"
            *ngFor="let pick of block.picks">
          <button mat-button class="remove-pick-button" color="warn" (click)="removePick(block, pick)">
            <mat-icon class="remove-pick-button">remove</mat-icon>
          </button>
        </td>
      </tr>
      <tr *ngIf="editing">
        <td class="chord-edit-cell">Chord: </td>
        <td class="chord-edit-cell" *ngFor="let pick of block.picks" [ngClass]="{'has-chord': pick.chord !== ''}">
          <input class="chord-input" 
                 [(ngModel)]="pick.chord" 
                 (change)="onUpdate()" 
                 scAutoWidth 
                 minSize="1" 
                 [scReadOnly]="!editing">
        </td>
      </tr>
      <tr *ngIf="!editing">
        <td class="chord-display-cell"></td>
        <td class="chord-display-cell" *ngFor="let aggChord of getMergedChords(block)" [scColSpan]="aggChord.size">
          {{aggChord.chord}}
        </td>
      </tr>
      <tr *ngFor="let guitarString of ['e4', 'b', 'g', 'd', 'a', 'e2']">
        <td class="guitar-string-cell">{{guitarString}}</td>
        <td class="pick-cell"
            *ngFor="let pick of block.picks" 
            [ngClass]="{'has-fret': pick[guitarString] !== ''}">
          <input class="pick-input" 
                 [(ngModel)]="pick[guitarString]" 
                 (change)="onUpdate()" 
                 scAutoWidth 
                 minSize="1" 
                 [scReadOnly]="!editing">
        </td>
      </tr>
      <tr >
        <td class="guide-cell"><ng-container *ngIf="editing">Guide:</ng-container></td>
        <td class="guide-cell" *ngFor="let pick of block.picks" [ngClass]="{'has-guide': pick.guide !== ''}">
          <input class="guide-input" 
                 [(ngModel)]="pick.guide" 
                 (change)="onUpdate()" 
                 scAutoWidth 
                 minSize="1" 
                 [scReadOnly]="!editing">
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="editing">
    <button mat-stroked-button class="add-block-button" color="accent" (click)="addTabBlock()">ADD TABS</button>
  </div>
</div>
