<div class="home-root">
  <div class="home-content">
    <div class="search-field-wrapper">
      <mat-icon svgIcon="sochord_logo" class="sochord-logo"></mat-icon>
      <input class="search-field"
             type="text"
             placeholder="Find a Song..."
             [formControl]="searchControl"
             [matAutocomplete]="auto"/>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let song of filteredSearch | async"
                        [value]="song.info.title"
                        [routerLink]="['song', song.id]"
                        (onSelectionChange)="selectedSong(song)">
          {{song.info.title}}
          <span *ngIf="song?.info?.artists">-</span>
          <span class="autosuggest-artists">
            <span *ngFor="let artist of song.info?.artists || []">
              {{artist.name}}
            </span>
          </span>
        </mat-option>
      </mat-autocomplete>
    </div>

    <button mat-button 
            class="add-song-button"
            [routerLink]="'/newSong'">ADD NEW SONG</button>
  </div>
  <div class="disclaimer">Note: This page is currently under development, and any songs you add could disappear at any point.</div>
</div>
