<div class="component-root">
  <div class="search-field-wrapper">
    <mat-icon svgIcon="sochord_logo" class="sochord-logo"></mat-icon>
    <input class="search-field"
           type="text"
           placeholder="Find a Song..."
           [formControl]="searchControl"
           [matAutocomplete]="auto" />
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredSearch | async" [value]="option">
      {{option.songInfo.title}}
    </mat-option>
  </mat-autocomplete>
  </div>

  <button mat-button class="add-song-button">ADD NEW SONG</button>
</div>
