<div class="home-root">
  <div class="search-field-wrapper">
    <mat-icon svgIcon="sochord_logo" class="sochord-logo"></mat-icon>
    <input class="search-field"
           type="text"
           placeholder="Find a Song..."
           [formControl]="searchControl"
           [matAutocomplete]="auto"/>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let song of filteredSearch | async"
                [value]="song.info.title"
                [routerLink]="['song', song.id]"
                (onSelectionChange)="selectedSong(song)">
      {{song.info.title}}
    </mat-option>
  </mat-autocomplete>
  </div>

  <button mat-button 
          class="add-song-button"
          [routerLink]="'/newSong'">ADD NEW SONG</button>
</div>
