<mat-toolbar color="primary" class="sochord-app-toolbar">
  <mat-toolbar-row class="toolbar-row">
    <div class="left-block">
      <button mat-button class="main-header" [routerLink]="''">SoChords</button>
      <button mat-button class="nav-button" [routerLink]="''">
        <span class="highlighted-text">So</span><span>ngs</span>
      </button>
      <button mat-button class="nav-button" [routerLink]="'chordExplorer'"><span class="highlighted-text">Chords</span></button>
    </div>
    <div class="right-block">
      <button mat-icon-button class="profile-button" [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item *ngIf="state === states.ANONYMOUS" (click)="openAuthDialog()">Sign In</button>
        <button mat-menu-item *ngIf="state === states.SIGNED_IN" (click)="signOut()">Sign Out</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="state === states.INITIALIZING">
  Loading...
</div>
<div class="small-device-disclaimer" *ngIf="state !== states.INITIALIZING">
      <mat-icon class="sochords-logo" svgIcon="sochords_logo"></mat-icon>
      SoChords does not yet support small devices.
</div>
<div class="app-body" *ngIf="state !== states.INITIALIZING">
  <router-outlet></router-outlet>
</div>
