.sochord-app-toolbar {
  .toolbar-row {
    justify-content: space-between;

    .main-header {
      cursor: pointer;
    }

    .profile-button {
      height: 36px;
      width: 36px;
      font-size: 36px;
    }
  }
}
.small-device-disclaimer {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: collapse;
  height: 0;
  width: 0;
  .sochords-logo {
    height: 128px;
    width: 128px;
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .app-body {
    visibility: collapse !important;
    height: 0;
    width: 0;
    flex-grow: 0;
  }
  .small-device-disclaimer {
    visibility: visible;
    flex-grow: 1;
    height: unset;
    width: unset;
  }
}

