
$cell-size: 30px;

.stringCombinationColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

  &>.stringCombinationCell {
      height: $cell-size;
      width: $cell-size;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: calc(#{$cell-size} * 0.7);
  }
  &>.fretInstruction {
    background-color: lightblue;
    border-radius: 50%;

  }
}
