@import '~@angular/material/theming';

@mixin strumming-pattern-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .strumming-pattern-root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .strum-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .strum-icon {
      font-size: 24px;
    }

    .highlight {
      color: mat-color($accent);

    }
  }
}
